@-webkit-keyframes titleScroll
{
    from { opacity: 0; left: -10px; }
    to   { opacity: 1; left: 0; }
}

@-webkit-keyframes subtitleScroll
{
    from { opacity: 0; left: 10px; }
    to   { opacity: 1; left: 0; }
}

@-webkit-keyframes shadowIn
{
    from { top: 0;   left: 0 }
    to   { top: 6px; left: 6px; }
}


#hero
{
    overflow: hidden;

    .title-wrap
    {
        display: flex;
        height: 100%;
        position: relative;
        margin: auto;
    }

    .title
    {
        margin: auto 0;
        width: 100%;
    }

    .wrap
    {
        position: relative;
        height: 100%;
    }

    h1
    {
        font-size: 3rem;
        line-height: 1.2;
    }

    .subtitle
    {
        position: relative;
        font-size: 1.4rem;
    }
}

#thomas
{
    $pixel: 6.25%;

    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    height: 160px;
    transform: translateY(100%);

    &-head,
    &-shadow
    {
        position: absolute;
        width: inherit;
        height: inherit;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &-head
    {
        top: 0;
        left: 0;
        background-image: url(../img/thomas.png);
        transition-property: transform, opacity;
        transition-timing-function: ease-out;
    }

    &-shadow
    {
        top: 10px;
        left: 10px;
        background-image: url(../img/thomas-shadow.png);
        opacity: 0.25;
    }

    .eye
    {
        position: absolute;
        top: $pixel * 5;
        width: $pixel * 3;
        height: $pixel * 2;
        background: white;

        &.left
        {
            left: $pixel * 3;
        }

        &.right
        {
            left: $pixel * 10;
        }
    }

    .iris
    {
        position: absolute;
        top: $pixel * 5;
        left: $pixel;
        width: $pixel;
        height: $pixel;
        background: #161;
        transition: top 100ms ease-in-out;

        &.left
        {
            left: $pixel * 3;
        }

        &.right
        {
            left: $pixel * 10;
        }
    }

    &.hiding
    {
        transition-duration: 5s;
        transform: translateY(50%);
    }

    &.show
    {
        transition-duration: 150ms;
        transform: translateY(0);
    }

    &.eyes-down
    {
        .iris
        {
            top: $pixel * 6;
        }
    }
}




@media screen and ( max-width: 600px )
{
    #hero
    {
        .title
        {
            text-align: center;
        }

        .subtitle
        {
            display: block;
            margin-top: 1rem;
        }
    }
}

@media screen and ( min-width: 600px )
{
    #hero
    {
        $animDuration: 1.5s;
        $subtitleDelay: 0.5s;

        height: 100vh;
        max-height: 600px;
        padding: 38px 0 0 0;

        h1
        {
            font-size: 3.5rem;
            line-height: 1;
            -webkit-animation-name: titleScroll;

            &, &::after
            {
                -webkit-animation-duration: $animDuration;
                -webkit-animation-fill-mode: both;
                -webkit-animation-timing-function: steps(10);
            }
        }

        .subtitle
        {
            padding-left: 0.7rem;
            font-size: 1.7rem;
            -webkit-animation: subtitleScroll $animDuration - $subtitleDelay linear;
            -webkit-animation-delay: $subtitleDelay;
            -webkit-animation-fill-mode: both;
        }
    }

    #thomas
    {
        display: block;
    }
}
