#hero
{
    height: 70vh;
    overflow: hidden;

    .title-wrap
    {
        display: flex;
        height: 100%;
        position: relative;
        margin: auto;
    }

    .title
    {
        margin: auto 0;
        width: 100%;
    }

    .wrap
    {
        position: relative;
        height: 100%;
    }

    h1
    {
        font-size: 3rem;
        line-height: 1.2;
    }

    .subtitle
    {
        position: relative;
        font-size: 1.4rem;
    }
}

#thomas
{
    $size: 10px;

    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: $size * 14;
    height: $size * 15;
    overflow: hidden;

    .dot
    {
        float: left;
        width: $size;
        height: $size;
        animation: dotIn 200ms;
        animation-fill-mode: both;

        &.skin
        {
            background: #ffd9c4;
        }

        &.glasses
        {
            background: black;
        }

        &.eyes,
        &.mouth
        {
            background: white;
        }

        &.hair1
        {
            background: #5c4e46;
        }

        &.hair2
        {
            background: #af9484;
        }

        &.hair3
        {
            background: #e0bda9;
        }

        &.iris
        {
            background: #096706;
        }

        &.shirt
        {
            background: #4f8f00;
        }
    }
}

#quote
{
    display: none;
    position: absolute;
    bottom: 40px;
    right: 190px;
    height: 60px;
    min-width: 200px;
    background: white;
    padding: 0 20px;
    z-index: 100;
    animation: quoteIntroAnimation 400ms;
    animation-delay: 400ms;
    animation-fill-mode: both;
    text-align: center;

    .text
    {
        margin: auto;
        cursor: pointer;
        transition: 100ms opacity;
    }

    a
    {
        color: inherit;
        border-bottom: dashed #CCC 2px;
        text-decoration: none;
    }

    &.progress
    {
        .text
        {
            opacity: 0.35;
        }
    }

    &::after
    {
        $res: 5px;

        content: '';
        display: block;
        position: absolute;
        background: white;
        top: $res;
        left: -$res;
        width: calc( 100% + #{ $res * 2 } );
        height: calc( 100% - #{ $res * 2 } );
        z-index: -1;
    }

    &::before
    {
        @extend %berkelium;

        content: 'o';
        position: absolute;
        top: 11px;
        right: -17px;
        color: white;
        transform: rotateZ(0);
        font-size: 41px;
        z-index: -1;
    }
}




@media screen and ( max-width: 600px )
{
    #hero
    {
        .title
        {
            text-align: center;
        }

        .subtitle
        {
            display: block;
            margin-top: 1rem;
        }
    }
}

@media screen and ( min-width: 600px )
{
    #hero
    {
        $animDuration: 1.5s;
        $subtitleDelay: 0.5s;

        padding: 38px 0 0 0;

        h1
        {
            font-size: 3.5rem;
            line-height: 1;
            animation-name: titleScroll;

            &, &::after
            {
                animation-duration: $animDuration;
                animation-fill-mode: both;
                animation-timing-function: steps(10);
            }
        }

        .subtitle
        {
            padding-left: 0.7rem;
            font-size: 1.7rem;
            animation: subtitleScroll $animDuration - $subtitleDelay linear;
            animation-delay: $subtitleDelay;
            animation-fill-mode: both;
        }
    }

    #thomas
    {
        display: block;
    }

    #quote
    {
        display: flex;
    }
}


@keyframes titleScroll
{
    from { opacity: 0; left: -10px; }
    to   { opacity: 1; left: 0; }
}

@keyframes subtitleScroll
{
    from { opacity: 0; left: 10px; }
    to   { opacity: 1; left: 0; }
}

@keyframes shadowIn
{
    from { top: 0;   left: 0 }
    to   { top: 6px; left: 6px; }
}

@keyframes quoteIntroAnimation
{
    from { opacity: 0; transform: translateX(10px) }
    to   { opacity: 1; transform: translateX(0) }
}

@keyframes dotIn
{
    from { opacity: 0; transform: translateY(10px) }
    to   { opacity: 1; transform: translateY(0) }
}
