#skills
{
    li
    {
        margin-top: 10%;
    }

    h2
    {
        font-size: 1.2rem;
    }

    p
    {
        font-size: 0.9rem;
    }
}


@media screen and ( min-width: 750px )
{

    #skills
    {
        ul
        {
            display: flex;
            -webkit-flex-wrap: wrap;
        }

        li
        {
            width: 30%;
            margin-right: 5%;
            margin-top: 5%;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3)
            {
                margin-top: 0;
            }

            &:nth-child(3n+3)
            {
                margin-right: 0;
            }
        }

        p
        {
            margin-bottom: 0;
        }
    }

}